<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="divRest"></div>
    <button id="btnRest">Get Listings</button>
    <h2 id = "h2Name"></h2>
    <p id = "pAddress"></p>
    <p id = "pBor"></p>
    <p id = "pZip"></p>
    <h3>Grades</h3>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
