<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="/">
      <br>
      <label for="pageSize">Page Size</label> 
      <select name="pageSize" id="pageSize" onchange="setPageSize(this.value)"> 
        <option value="1" >1</option>
        <option value="3" >3</option>
        <option value="5" selected="">5</option>
        <option value="10" >10</option>
      </select>
    </form>
    <div id="divRest"></div>
    <nav>
      <button id = "bprev">Prev</button>
      <button id = "bnext">Next</button>
    </nav>
    <button id="btnRest">Get Listings</button>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
