body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
  background-color: #500FFF;
  color : white
}

table, td, th{
  border: solid white ;
  border-collapse: collapse;
  font-size : 19px;
  padding : 10px
}

button
{
  background-color:#8a20e2;
	color: inherit;
	border: none;
	padding: 5px;
  font-size: larger;
	cursor: pointer;
	outline: inherit;
}

div{
  display: flex;
  flex-direction: column;
}

select, option{
  background-color: #8a20e2;
  color : white
}

/* .divRecord{
  background-color: black;
}

.divRest
{
  background-color: red;
} */